html {
  min-width: 600px;
}
.App {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  min-width: 600px;
  height: 100%;
  min-height: 250px;
  background-color: #282c34;
  color: white;
  padding: 0px 20px;
  padding-top: 20px;
  overflow-x: scroll;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

.sites {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 25px;
}
.site-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.yes-no-confirm {
  display: flex;
  gap: 10px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#delete-confirm {
  position: absolute;
  border: 1px solid red;
  top: 5px;
  background: black;
  color: white;
}
